<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.scnu.actor.mapper.ActorMapper">
	
	<select id="getTotalNum" resultType="Integer">
		select count(*) from actors where actor_birth_date!='nan' or actor_birth_place!='nan';
	</select>
	
	<select id="showActorByPage" resultType="Actor">
		select * from actors where actor_birth_date!='nan' or actor_birth_place!='nan' limit #{start},#{length}; 
	</select>
	
	<select id="showActorDetail" parameterType="Integer" resultType="Actor">
		select * from actors where actor_id=#{actorId};
	</select>
	
	<select id="getMovieName" parameterType="String" resultType="String">
		select movie_name from movieandactor where actor_name=#{actorName};
	</select>
	
	<select id="getMovie" parameterType="String" resultType="Movie">
		select * from movie where movie_name=#{movieName};
	</select>
	
</mapper>